<section class="login-ection" style="margin-bottom: -3rem;">
    <div class="login-box">
        <div class="login-box-body box-bdy">
            <h4 class="login-box-msg" style="text-align:center" style="font-size: 29px;"><strong>Reset Password</strong></h4>
            <form [formGroup]="resetPasswordForm">

                <div class="form-group">
                    <div class="has-feedback">
                        <label>Password</label>
                        <div class="has-feedback" style="align-items: center;padding-top: 5px;">
                            <input type="{{type}}" #hello class="form-control" id="myInput" placeholder="Password"
                                formControlName="password" style="height: 44px;">
                        </div>
                        <div
                            *ngIf="resetPasswordForm.get('password').hasError('required') && resetPasswordForm.get('password').touched">
                            <span style="color:red">*Please enter password. </span></div>
                        <div *ngIf="resetPasswordForm.controls['password'].hasError('minlength')"><span
                                style="color:red">*Minlength should be 8 characters.</span></div>
                        <div *ngIf="resetPasswordForm.controls['password'].hasError('maxlength')"><span
                                style="color:red">*Maxlength should be 16 characters.</span></div>
                        <div *ngIf="resetPasswordForm.controls['password'].hasError('pattern')"><span
                                style="color:red">*enter the valid password</span></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="has-feedback">
                        <label>Confirm Password</label>
                        <div class="has-feedback" style="align-items: center;padding-top: 5px;">
                            <input type="{{type}}" #hello class="form-control" id="myInput" placeholder="Password"
                                formControlName="cnfmpassword" style="height: 44px;">
                        </div>
                        <div
                            *ngIf="resetPasswordForm.get('cnfmpassword').hasError('required') && resetPasswordForm.get('password').touched">
                            <span style="color:red">*Please enter password. </span></div>
                            <div *ngIf="(resetPasswordForm.value.password != resetPasswordForm.value.cnfmpassword) && resetPasswordForm.get('cnfmpassword').dirty" class="danger">
                                *please enter the same Password
                            </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 lognBrn">
                        <button type="submit" class="btn btn-block btn-flat router-link" [disabled]="resetPasswordForm.invalid"
                            (click)="changePassword()">Reset Password </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<div class="modal fade bd-example-modal-sm" id="verifyEmail"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content thanks_for">
        <h6>{{responseMessage}}</h6>
            <div>
            <button class="banner-button active" data-toggle="modal" data-target="#exampleModalCenter" data-dismiss="modal" >Ok</button> </div>
          </div>
    </div>
 </div>


 <div class="modal fade bd-example-modal-sm" id="resetPassword"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content thanks_for">
        <h6>Password Updated successfully</h6>
            <div>
            <button class="banner-button active" data-toggle="modal" data-target="#exampleModalCenter" data-dismiss="modal" [routerLink]="['/login']" >Ok</button> </div>
          </div>
    </div>
 </div>
 