<section>
    <div class="container1440 mt-5">
        <h5 class="application_pro">Application Progress</h5>
          <div class="search_university">
              <div class="University-name">
                  <select class="form-control">
                    <option>Search University Name </option>
                  </select>
                  <i class="fa fa-sort-down"></i>
              </div>

                   <div class="cntact-button">
                         <button class="theme-btn router-link" style="margin-right: 10px;">Submit</button>
                          <button class="theme-btn router-link">Reset</button>
                     </div>
              </div>

          <div class="application-status">
            <div class="row">
                <div class="col-md-2">
                  <div class="rim">
                    <img src="assets/images/rimt.png">
                      <h3 class="rmit-sec">RMIT</h3>
                  </div>

                </div>
              <div class="col-md-10">
                  <div class="submitted">
                  <div class="form_submit">
                      <div class="condidated_name">
                          <ul>
                            <li><strong>University Name :</strong> </li>   
                            <li><strong>University Reference :</strong></li>
                            <li><strong>Application Form Status :</strong> </li>
                          </ul>
                      </div>
                         <div class="condidated_name">
                          <ul>
                            <li>XYZZ, Los Angeles, CA, USA </li>     
                            <li>12345678 </li>
                            <li>Conditional  Offer 
                              <p class="tooltip-ex2"> 
                                <span class="input-icon"><em
                                class="fa fa-question-circle-o"></em></span><span
                                class="tooltiptext2" style="width: 420px;">You have to Conditional  Offer you can perform the accept  </span>
                              </p>
                            </li>
                          </ul>
                      </div>
                  </div>

                  <div class="my_history">
                    <div class="viewform">
                         <button class="theme-btn router-link">View More</button>
                      </div>
                    <div class="viewform">
                     <button class="theme-btn router-link" [routerLink]="['/view-progress']">View Progress</button>
                      </div>
                  </div>
               </div>

               <div class="pdf_section">
                  <ul>
                    <li>
                      <span style="position: relative;">
                        <p class="offer_css">View Offer</p>
                      </span>
                       <figure><img src="assets/images/pdf_img.png"></figure>
                    </li>
                    <!-- <li>
                       <button class="theme-btn router-link"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i>Offer
                       </button>
                    </li>
                    <li>
                       <button class="theme-btn router-link">Accept</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link declined">Declined</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link">Defer</button>
                    </li> -->
                    <li>
                      <label class="radio-inline">
                        <input type="radio" name="condition" value="Accept" style="margin-right:20px"  >Accept
                      </label>
                    </li>
                    <li>
                      <label class="radio-inline">
                        <input type="radio" name="condition" value="Declined" style="margin-right:20px"  >Declined
                      </label>
                    </li>
                    <li>
                      <label class="radio-inline">
                        <input type="radio" name="condition" value="Defer" style="margin-right:20px"  >Defer
                      </label>
                    </li>
                    <li>
                      <button class="theme-btn router-link">Submit</button>
                   </li>
                  </ul>
               </div>

              </div>
            </div>
          </div>



       <div class="application-status mt-4">
            <div class="row">
                <div class="col-md-2">
                  <div class="rim">
                    <img src="assets/images/rimt.png">
                      <h3 class="rmit-sec">RMIT</h3>
                  </div>

                </div>
              <div class="col-md-10">
                  <div class="submitted">
                  <div class="form_submit">
                      <div class="condidated_name">
                          <ul>
                            <li><strong>University Name :</strong> </li>   
                            <li><strong>University Reference :</strong></li>
                            <li><strong>Application Form Status :</strong> </li>
                          </ul>
                      </div>
                         <div class="condidated_name">
                          <ul>
                            <li>XYZZ, Los Angeles, CA, USA </li>     
                            <li>12345678 </li>
                            <li>Conditional Firm acceptance 
                              <p class="tooltip-ex2"> 
                                <span class="input-icon"><em
                                class="fa fa-question-circle-o"></em></span><span
                                class="tooltiptext2">You have to Conditional Firm acceptance  you can perform the accept  </span>
                              </p>
                            </li>
                          </ul>
                      </div>
                  </div>

                  <div class="my_history">
                    <div class="viewform">
                         <button class="theme-btn router-link">View More</button>
                      </div>
                    <div class="viewform">
                     <button class="theme-btn router-link" [routerLink]="['/view-progress']">View Progress</button>
                      </div>
                  </div>
               </div>

               <div class="pdf_section decline">
                  <ul>
                    <li>
                       <figure><img src="assets/images/pdf_img.png"></figure>
                    </li>
                    <li>
                       <button class="theme-btn router-link"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i>Offer
                       </button>
                    </li>
                     <li>
                       <button class="theme-btn router-link declined">Declined</button>
                    </li>
                   
                   <li>
                       <button class="theme-btn router-link">Defer</button>
                    </li>
                  </ul>
               </div>

              </div>
            </div>
          </div>

          <div class="application-status mt-4">
            <div class="row">
                <div class="col-md-2">
                  <div class="rim">
                    <img src="assets/images/rimt.png">
                      <h3 class="rmit-sec">RMIT</h3>
                  </div>

                </div>
              <div class="col-md-10">
                  <div class="submitted">
                  <div class="form_submit">
                      <div class="condidated_name">
                          <ul>
                            <li><strong>University Name :</strong> </li>   
                            <li><strong>University Reference :</strong></li>
                            <li><strong>Application Form Status :</strong> </li>
                          </ul>
                      </div>
                         <div class="condidated_name">
                          <ul>
                            <li>XYZZ, Los Angeles, CA, USA </li>     
                            <li>12345678 </li>
                            <li>Conditional Firm acceptance 
                              <p class="tooltip-ex2"> 
                                <span class="input-icon"><em
                                class="fa fa-question-circle-o"></em></span><span
                                class="tooltiptext2">You have to Conditional Firm acceptance  you can perform the accept  </span>
                              </p>
                            </li>
                          </ul>
                      </div>
                  </div>

                  <div class="my_history">
                    <div class="viewform">
                         <button class="theme-btn router-link">View More</button>
                      </div>
                    <div class="viewform">
                     <button class="theme-btn router-link" [routerLink]="['/view-progress']">View Progress</button>
                      </div>
                  </div>
               </div>

               <div class="pdf_section decline provide">
                  <ul>
                    <!-- <li>
                       <figure><img src="assets/images/pdf_img.png"></figure>
                    </li> -->
                    <!-- <li>
                       <button class="theme-btn router-link"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i>Offer
                       </button>
                    </li> -->
                     <li>
                       <button class="theme-btn router-link declined">Declined</button>
                    </li>
                   
                   <li class="additional">
                       <button class="theme-btn router-link">Provide Additional Information</button>
                    </li>
                  </ul>
               </div>

              </div>
            </div>
          </div>


          <div class="application-status mt-4">
            <div class="row">
                <div class="col-md-2">
                  <div class="rim">
                    <img src="assets/images/rimt.png">
                      <h3 class="rmit-sec">RMIT</h3>
                  </div>

                </div>
              <div class="col-md-10">
                  <div class="submitted">
                  <div class="form_submit">
                      <div class="condidated_name">
                          <ul>
                            <li><strong>University Name :</strong> </li>   
                            <li><strong>University Reference :</strong></li>
                            <li><strong>Application Form Status :</strong> </li>
                          </ul>
                      </div>
                         <div class="condidated_name">
                          <ul>
                            <li>XYZZ, Los Angeles, CA, USA </li>     
                            <li>12345678 </li>
                            <li>Conditional  Offer 
                              <p class="tooltip-ex2"> 
                                <span class="input-icon"><em
                                class="fa fa-question-circle-o"></em></span><span
                                class="tooltiptext2">You have to Conditional offer  you can perform the accept  </span>
                              </p>
                            </li>
                          </ul>
                      </div>
                  </div>

                  <div class="my_history">
                    <div class="viewform">
                         <button class="theme-btn router-link">View More</button>
                      </div>
                    <div class="viewform">
                     <button class="theme-btn router-link" [routerLink]="['/view-progress']">View Progress</button>
                      </div>
                  </div>
               </div>

               <div class="pdf_section">
                  <ul>
                    <li>
                       <figure><img src="assets/images/pdf_img.png"></figure>
                    </li>
                    <li>
                       <button class="theme-btn router-link"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i>Offer
                       </button>
                    </li>
                    <li>
                       <button class="theme-btn router-link">Accept</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link declined">Declined</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link">Defer</button>
                    </li>
                  </ul>
               </div>

              </div>
            </div>
          </div>

              <div class="application-status mt-4">
            <div class="row">
                <div class="col-md-2">
                  <div class="rim">
                    <img src="assets/images/rimt.png">
                      <h3 class="rmit-sec">RMIT</h3>
                  </div>

                </div>
              <div class="col-md-10">
                  <div class="submitted">
                  <div class="form_submit">
                      <div class="condidated_name">
                          <ul>
                            <li><strong>University Name :</strong> </li>   
                            <li><strong>University Reference :</strong></li>
                            <li><strong>Application Form Status :</strong> </li>
                          </ul>
                      </div>
                         <div class="condidated_name">
                          <ul>
                            <li>XYZZ, Los Angeles, CA, USA </li>     
                            <li>12345678 </li>
                            <li>Conditional  Offer 
                              <p class="tooltip-ex2"> 
                                <span class="input-icon"><em
                                class="fa fa-question-circle-o"></em></span><span
                                class="tooltiptext2">You have to Conditional Offer  you can perform the accept  </span>
                              </p>
                            </li>
                          </ul>
                      </div>
                  </div>

                  <div class="my_history view-more">
                    <div class="viewform">
                         <button class="theme-btn router-link">View More</button>
                      </div>
                    <div class="viewform">
                     <button class="theme-btn router-link" [routerLink]="['/view-progress']">View Progress</button>
                      </div>
                  </div>
               </div>

             
              </div>
            </div>
                <div class="pdf_section Upload_file">
                  <ul>
                    <li>
                       <figure><img src="assets/images/pdf_img.png"></figure>
                    </li>
                    <li>
                       <button class="theme-btn router-link"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i>Offer
                       </button>
                    </li>
                       <li>
                       <figure><img src="assets/images/pdf_img.png"></figure>
                    </li>
                    <li>
                       <button class="theme-btn router-link">Upload Document</button>
                    </li>
                        <li>
                       <button class="theme-btn router-link">Submit</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link declined">Declined</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link">Defer</button>
                    </li>
                  </ul>
               </div>

          </div>

            <div class="application-status mt-4">
            <div class="row">
                <div class="col-md-2">
                  <div class="rim">
                    <img src="assets/images/rimt.png">
                      <h3 class="rmit-sec">RMIT</h3>
                  </div>

                </div>
              <div class="col-md-10">
                  <div class="submitted">
                  <div class="form_submit">
                      <div class="condidated_name">
                          <ul>
                            <li><strong>University Name :</strong> </li>   
                            <li><strong>University Reference :</strong></li>
                            <li><strong>Application Form Status :</strong> </li>
                          </ul>
                      </div>
                         <div class="condidated_name">
                          <ul>
                            <li>XYZZ, Los Angeles, CA, USA </li>     
                            <li>12345678 </li>
                            <li>Conditional  Offer 
                                <p class="tooltip-ex2"> 
                                <span class="input-icon"><em
                                class="fa fa-question-circle-o"></em></span><span
                                class="tooltiptext2">You have to Conditional Offer  you can perform the accept  </span>
                              </p>
                            </li>
                          </ul>
                      </div>
                  </div>

                  <div class="my_history view-more">
                    <div class="viewform">
                         <button class="theme-btn router-link">View More</button>
                      </div>
                    <div class="viewform">
                     <button class="theme-btn router-link" [routerLink]="['/view-progress']">View Progress</button>
                      </div>
                  </div>
               </div>

             
              </div>
            </div>
                <div class="pdf_section Upload_file request">
                  <ul>
                    <li>
                       <figure><img src="assets/images/pdf_img.png"></figure>
                    </li>
                    <li>
                       <button class="theme-btn router-link"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i>Offer
                       </button>
                    </li>
                      
                    <li>
                       <button class="theme-btn router-link">Request /Review</button>
                    </li>
                       <!--  <li>
                       <button class="theme-btn router-link">Submit</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link declined">Declined</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link">Defer</button>
                    </li> -->
                  </ul>
               </div>
          </div>

            <div class="application-status mt-4">
            <div class="row">
                <div class="col-md-2">
                  <div class="rim">
                    <img src="assets/images/rimt.png">
                      <h3 class="rmit-sec">RMIT</h3>
                  </div>

                </div>
              <div class="col-md-10">
                  <div class="submitted">
                  <div class="form_submit">
                      <div class="condidated_name">
                          <ul>
                            <li><strong>University Name :</strong> </li>   
                            <li><strong>University Reference :</strong></li>
                            <li><strong>Application Form Status :</strong> </li>
                          </ul>
                      </div>
                         <div class="condidated_name">
                          <ul>
                            <li>XYZZ, Los Angeles, CA, USA </li>     
                            <li>12345678 </li>
                            <li>Conditional  Offer </li>
                          </ul>
                      </div>
                  </div>

                  <div class="my_history view-more">
                    <div class="viewform">
                         <button class="theme-btn router-link">View More</button>
                      </div>
                    <div class="viewform">
                     <button class="theme-btn router-link" [routerLink]="['/view-progress']">View Progress</button>
                      </div>
                  </div>
               </div>

             
              </div>
            </div>
                <div class="pdf_section Upload_file request offer">
                  <ul>
                    <li>
                       <figure><img src="assets/images/pdf_img.png"></figure>
                    </li>
                    <li>
                       <button class="theme-btn router-link"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i>Offer
                       </button>
                    </li>
                      
                   <!--  <li>
                       <button class="theme-btn router-link">Request /Review</button>
                    </li> -->
                       <!--  <li>
                       <button class="theme-btn router-link">Submit</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link declined">Declined</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link">Defer</button>
                    </li> -->
                  </ul>
               </div>
          </div>


          <div class="application-status mt-4">
            <div class="row">
                <div class="col-md-2">
                  <div class="rim">
                    <img src="assets/images/rimt.png">
                      <h3 class="rmit-sec">RMIT</h3>
                  </div>

                </div>
              <div class="col-md-10">
                  <div class="submitted">
                  <div class="form_submit">
                      <div class="condidated_name">
                          <ul>
                            <li><strong>University Name :</strong> </li>   
                            <li><strong>University Reference :</strong></li>
                            <li><strong>Application Form Status :</strong> </li>
                          </ul>
                      </div>
                         <div class="condidated_name">
                          <ul>
                            <li>XYZZ, Los Angeles, CA, USA </li>     
                            <li>12345678 </li>
                            <li>Conditional  Offer </li>
                          </ul>
                      </div>
                  </div>

                  <div class="my_history view-more">
                    <div class="viewform">
                         <button class="theme-btn router-link">View More</button>
                      </div>
                    <div class="viewform">
                     <button class="theme-btn router-link">View Progress</button>
                      </div>
                  </div>
               </div>

             
              </div>
            </div>
                <div class="pdf_section Upload_file request">
                  <ul>
                    <li>
                       <figure><img src="assets/images/pdf_img.png"></figure>
                    </li>
                    <li>
                       <button class="theme-btn router-link"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i>Offer
                       </button>
                    </li>
                      
                    <li>
                       <button class="theme-btn router-link">Request /Review</button>
                    </li>
                       <!--  <li>
                       <button class="theme-btn router-link">Submit</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link declined">Declined</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link">Defer</button>
                    </li> -->
                  </ul>
               </div>
          </div>

          <div class="application-status mt-4">
            <div class="row">
                <div class="col-md-2">
                  <div class="rim">
                    <img src="assets/images/rimt.png">
                      <h3 class="rmit-sec">RMIT</h3>
                  </div>

                </div>
              <div class="col-md-10">
                  <div class="submitted">
                  <div class="form_submit">
                      <div class="condidated_name">
                          <ul>
                            <li><strong>University Name :</strong> </li>   
                            <li><strong>University Reference :</strong></li>
                            <li><strong>Application Form Status :</strong> </li>
                          </ul>
                      </div>
                         <div class="condidated_name">
                          <ul>
                            <li>XYZZ, Los Angeles, CA, USA </li>     
                            <li>12345678 </li>
                            <li>Conditional  Offer </li>
                          </ul>
                      </div>
                  </div>

                  <div class="my_history view-more">
                    <div class="viewform">
                         <button class="theme-btn router-link">View More</button>
                      </div>
                    <div class="viewform">
                     <button class="theme-btn router-link">View Progress</button>
                      </div>
                  </div>
               </div>

             
              </div>
            </div>
                <div class="pdf_section Upload_file request">
                  <ul>
                    <li>
                       <figure><img src="assets/images/pdf_img.png"></figure>
                    </li>
                    <li>
                       <button class="theme-btn router-link"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i>Offer
                       </button>
                    </li>
                      
                    <li>
                       <button class="theme-btn router-link declined">Declined</button>
                    </li>
                       <!--  <li>
                       <button class="theme-btn router-link">Submit</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link declined">Declined</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link">Defer</button>
                    </li> -->
                  </ul>
               </div>
          </div>

        <div class="application-status mt-4">
            <div class="row">
                <div class="col-md-2">
                  <div class="rim">
                    <img src="assets/images/rimt.png">
                      <h3 class="rmit-sec">RMIT</h3>
                  </div>

                </div>
              <div class="col-md-10">
                  <div class="submitted">
                  <div class="form_submit">
                      <div class="condidated_name">
                          <ul>
                            <li><strong>University Name :</strong> </li>   
                            <li><strong>University Reference :</strong></li>
                            <li><strong>Application Form Status :</strong> </li>
                          </ul>
                      </div>
                         <div class="condidated_name">
                          <ul>
                            <li>XYZZ, Los Angeles, CA, USA </li>     
                            <li>12345678 </li>
                            <li>Conditional  Offer </li>
                          </ul>
                      </div>
                  </div>

                  <div class="my_history view-more">
                    <div class="viewform">
                         <button class="theme-btn router-link">View More</button>
                      </div>
                    <div class="viewform">
                     <button class="theme-btn router-link">View Progress</button>
                      </div>
                  </div>
               </div>

             
              </div>
            </div>
                <div class="pdf_section Upload_file request offer">
                  <ul>
                   <!--  <li>
                       <figure><img src="assets/images/pdf_img.png"></figure>
                    </li> -->
                    <li>
                       <button class="theme-btn router-link"> <i class="fa fa-long-arrow-down" aria-hidden="true"></i>Request /Review
                       </button>
                    </li>
                      
                   <!--  <li>
                       <button class="theme-btn router-link">Request /Review</button>
                    </li> -->
                       <!--  <li>
                       <button class="theme-btn router-link">Submit</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link declined">Declined</button>
                    </li>
                    <li>
                       <button class="theme-btn router-link">Defer</button>
                    </li> -->
                  </ul>
               </div>
          </div>
  </div>
  </section>
