<section>
    <div class="container1440 mt-5">
        <h5 class="application_pro">Application Form</h5>
         <div class="application-form mt-5">
             <div class="academic">
           <h5 class="application_pro">Employment for MBA</h5>

               <div class="form-group mt-3">
                   <label >Current Employment:</label>
                    <input type="email" class="form-control" placeholder="Current Employment">
               </div>
             <div class="form-group mt-3">
                   <label >Job Title:</label>
                    <input type="email" class="form-control" placeholder="Job Title">
               </div>

               <div class="form-group mt-3">
                   <label >Employer Name:</label>
                    <input type="email" class="form-control" placeholder="Empolyer Name">
               </div>
                <div class="form-group mt-3">
                   <label >Address:</label>
                    <input type="email" class="form-control" placeholder="Address">
               </div>

                 <div class="form-group mt-3">
                   <label >Telephone Number:</label>
                    <input type="email" class="form-control" placeholder="9090909090">
               </div>
                 <div class="form-group mt-3">
                   <label >Email:</label>
                    <input type="email" class="form-control" placeholder="Email">
               </div>

                    <div class="form-group mt-3">
                   <label>Nature of Employers Business:</label>
                    <input type="email" class="form-control" placeholder="Nature of Empolyers Business ">
               </div>
                <div class="form-group ">
                   <label>Date of Appointed :</label>
                    <input type="email" class="form-control" placeholder="DD/MM/YY">
                   <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>

                

                  <div class="form-group mt-3">
                   <label >Gross Annual Salary:</label>
                    <input type="email" class="form-control">
               </div>

                 <p class="do_you">Brief outline of duties and responsibilities and major achievements in role:</p>
                   <div class="form-group">
              <label class="des_cs">Description:</label>
              <textarea class="form-control" rows="4"></textarea>
             </div>

              
         </div>  
       <div class="cntact-button back">
               <button class="theme-btn router-link" [routerLink]="['/section11']">Back</button>
               <button class="theme-btn router-link active" [routerLink]="['/section13']">Continue</button>
               <button class="theme-btn router-link">Save and Quit</button>
              </div>
       </div>          
   </div>
</section>