
<section>
    <div class="container1440 mt-5">
    
     <div class="main_div">
           <h4 class="study">View Progress</h4>
          <div class="pending_sec">
              <ul>
                  <li>
                      <div class="appoved"><img src="assets/images/Layer 60.png"></div>
                          <div class="txt_3">
                              <p>Pending</p>
                              <p>Date :-12/09/2019,</p>
                              <p>12:00 PM</p>
                          </div>
                  </li>

                      <li>
                      <div class="appoved"><img src="assets/images/Layer 61.png"></div>
                          <div class="txt_3">
                              <p>In Progress</p>
                              <p>Date :-12/09/2019,</p>
                              <p>12:00 PM</p>
                          </div>
                  </li>

                      <li>
                      <div class="appoved"><img src="assets/images/Layer 59.png"></div>
                          <div class="txt_3">
                              <p>Approved</p>
                              <p>Date :-12/09/2019,</p>
                              <p>12:00 PM</p>
                          </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  </section>