<section>
    <div class="container1440 mt-5">
        <h5 class="application_pro">Application Form</h5>
          <div class="application-form mt-5">
              <form [formGroup]="section10Form">
                  <div class="academic">
                        <h5 class="application_pro">Research Proposal</h5>
                        <p class="do_you">Research Proposal - for PGR?</p>
                        <div class="custom-button"> 
                            <label class="custom-radio">Yes
                              <input type="radio" value="true" (change)="change($event)" name="researchProposal" formControlName="researchProposal" >
                              <span class="checkmark_cs3"></span>
                            </label>
                            <label class="custom-radio">No
                              <input type="radio" value="false" (change)="change($event)" name="researchProposal" formControlName="researchProposal">
                              <span class="checkmark_cs3"></span>
                            </label>
                          </div>
                          <div *ngIf="submitted && section10Form.get('researchProposal').hasError">
                              <div *ngIf="section10Form.get('researchProposal').hasError('required')" class="danger">
                                  *please select this research proposal
                              </div>
                          </div>
                        <p class="do_you">Please supply a description of your proposed research topic:</p>
                        <div class="form-group">
                          <label class="des_cs">Description:</label>
                          <textarea class="form-control" rows="4" formControlName="researchProposalDescription"></textarea>
                          <div *ngIf="researchForPGR">
                            <div *ngIf="(section10Form.value.researchProposalDescription == '' )"  class="danger">
                                *please enter the Description
                            </div>
                          </div>
                        </div>
                  </div>  
                  <div class="cntact-button back">
                      <button class="theme-btn router-link" [routerLink]="['/section9']">Back</button>
                      <button class="theme-btn router-link active" (click)="continue()" >Continue</button>
                      <button class="theme-btn router-link" (click)="saveAndQuit()">Save and Quit</button>
                  </div>
              </form>
          </div>          
   </div>
</section>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">&nbsp;</h5>
      </div>
      <div class="modal-body">
          Congratulations your form has been submitted successfully!You will get the email notification of each status of your form.
      </div>
      <div class="modal-footer">
          <button type="button" class="theme-btn router-link  okay" data-dismiss="modal" [routerLink]="['/dashboard']">OK</button>
      </div>
      </div>
  </div>
</div>