<section >
   <div class="container1440 mt-5">
      <div class="subscribe">
         <div class="left_section">
            <div class="pick_cs">
               <a><img src="{{accountData.imageUrl}}">
                  <!-- <i class="fa fa-pencil-square-o" aria-hidden="true"></i> -->
               </a>
               <p>{{accountData.firstName}}</p>
            </div>
            <div class="changs">
               <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a class="nav-link  general_cs" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                     role="tab" aria-controls="v-pills-home" aria-selected="true" [routerLink]="['/my-profile']">Manage
                     General Info</a>
                  <a class="nav-link active general_cs" id="v-pills-profile-tab" data-toggle="pill"
                     href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"
                     [routerLink]="['/change-password']">Change Password</a>
                  <a class="nav-link  general_cs" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                     role="tab" aria-controls="v-pills-messages" aria-selected="false"
                     [routerLink]="['/my-subscription']" *ngIf="accountData?.role != 'REPRESENTATIVE_USER'">My Subscription</a>
                  <a class="nav-link general_cs" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
                     role="tab" aria-controls="v-pills-settings" aria-selected="false"
                     [routerLink]="['/subscription-history']">Subscription History</a>
                  <a class="nav-link general_cs" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings1"
                     role="tab" aria-controls="v-pills-settings" aria-selected="false"
                     [routerLink]="['/manage-users']" *ngIf="accountData?.role != 'REPRESENTATIVE_USER'">Manage Users</a>
                  <a class="nav-link general_cs" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings2"
                     role="tab" aria-controls="v-pills-settings" aria-selected="false"
                     [routerLink]="['/create-users']" *ngIf="accountData?.role != 'REPRESENTATIVE_USER'">Create User</a>
               </div>
            </div>
         </div>

         <div class="right-section">
            <h4 class="manage">Change Password</h4>
            <div class="tab-content" id="v-pills-tabContent">
               <div class="tab-pane fade  show active " id="v-pills-home" role="tabpanel"
                  aria-labelledby="v-pills-home-tab">
               </div>
               <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                  aria-labelledby="v-pills-profile-tab">

                  <div class="general-info">
                     <div class="info-box">

                        <div class="form_section">
                              <form [formGroup]="passwordForm">
                                 <div class="form-group cs3">
                                    <label for="exampleInputEmail1">Old password*</label>
                                    <input type="text" class="form-control" placeholder="Password" formControlName="oldPassword">
                                    <div *ngIf="submitted && passwordForm.get('oldPassword').hasError" >
                                       <div *ngIf="passwordForm.get('oldPassword').hasError('required')" class="danger">
                                           *please enter the old Password
                                       </div>
                                       <div *ngIf="passwordForm.get('oldPassword').hasError('pattern')" class="danger">
                                          *please enter the valid Password
                                      </div>
                                     </div>
                                 </div>

                                 <div class="form-group cs3">
                                    <label for="exampleInputEmail1">New Password*</label>
                                    <input type="text" class="form-control" placeholder="NewPassword"  formControlName="password">
                                    <div *ngIf="submitted && passwordForm.get('password').hasError" >
                                       <div *ngIf="passwordForm.get('password').hasError('required')" class="danger">
                                           *please enter the password
                                       </div>
                                       <div *ngIf="passwordForm.get('password').hasError('pattern')" class="danger">
                                          *please enter the valid Password
                                      </div>
                                     </div>
                                 </div>
                                 <div class="form-group cs3">
                                    <label for="exampleInputEmail1">Confirm Password*</label>
                                    <input type="text" class="form-control" placeholder="Confirm Password"  formControlName="cnfrmPassword">
                                    <div *ngIf="submitted && passwordForm.get('cnfrmPassword').hasError" >                                      
                                       <div *ngIf="(passwordForm.value.password != passwordForm.value.cnfrmPassword) && passwordForm.get('cnfrmPassword').dirty" class="danger">
                                           *please enter the same Password
                                       </div>
                                      
                                     </div>
                                 </div>


                                 <div class="cntact-button">
                                    <button class="theme-btn">Cancel</button>
                                    <button class="theme-btn" (click)="submit()">Save</button>
                                 </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>
   </div>
</section>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
       <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLongTitle">&nbsp;</h5>
       </div>
       <div class="modal-body">
         <div style="position:relative;left: 18%;">
           {{responseMessage}}
         </div>
       </div>
       <div class="modal-footer">
           <button type="button" class="theme-btn router-link  okay" data-dismiss="modal">OK</button>
       </div>
       </div>
   </div>
 </div>