<section class="login-ection" style="margin-bottom: -3rem;">
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="login-box-body box-bdy">
            <h3 class="login-box-msg" style="text-align:center;font-size: 29px;color: #896634;"><strong>Forgot Password ?</strong></h3>
            <h6 class="login-box-msg" style="text-align:center;color: black;">
                <p>
                    Please enter your registered email id where a verification link will be sent.
                </p>
            </h6>
            <form [formGroup]="loginForm">
                <div class="form-group">
                    <div class="has-feedback">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email"
                            (keydown.space)="$event.preventDefault();" style="height: 44px;">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        <div *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched"><span
                                style="color:red">*Please enter email id.</span></div>
                        <div *ngIf="loginForm.controls['email'].hasError('maxlength')"><span
                                style="color:red">*Maxlength should be 60 characters</span></div>
                        <div *ngIf="loginForm.controls['email'].hasError('pattern')"><span style="color:red">*Please
                                enter valid email id.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4 lognBrn">
                        <button type="submit" class="btn btn-block btn-flat router-link" [disabled]="loginForm.invalid"
                            (click)="forgotPassword()">Reset</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
</section>

<div class="modal fade bd-example-modal-sm" id="verifyEmail"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content thanks_for">
        <h6>An E-mail with a reset link has been sent to you. Please check your E-mail to reset your password.</h6>
            <div>
            <button  class="btn btn-block btn-flat router-link" data-toggle="modal" data-target="#exampleModalCenter" data-dismiss="modal" [routerLink]="['/dashboard']">Ok</button> </div>
          </div>
    </div>
 </div>
 